@font-face {
  font-family: "cool";
  src: url("/assets/fonts/indieflower.ttf");
}

body {
  font-family: cool;
  padding: 20px;
  background-color: #ffffff;
  line-height: 1.4em;
}

.warning {
  background-color: #FF7E6B;
  padding: 10px;
  border-radius: 4px;
}

#key-takeaway {
  background-color: #ffffff;
  font-size: 18px;
  padding: 10px;
  border: 4px dashed black;
  border-radius: 4px;
}

.address {
  font-style: normal;
}

p {
  color: #5e0298;
  background-color: PapayaWhip;
  font-family: cool;
  letter-spacing: .05em;
  word-spacing: .1em;
}

.camp {
  color: #ff6600;
}

strong {
  color: teal;
}

a {
  color: teal;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: #000000;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #151814;
  background-color: #DFFFD6;
  text-transform: lowercase;
  font-weight: normal;
}

ul {
  background-color: HoneyDew;
}

#hex {
  color: #00ff66
}

.read {
  line-height: 2em;
}
